@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar{width: 5px; background-color: rgb(44, 0, 44);}
::-webkit-scrollbar-thumb{background-color: rgba(255, 240, 223, 0.5); border-radius: 5px;}

.App{
  background-color: rgb(255, 240, 223);
  color: black;
  min-height: 150vh;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr 100px;
}